* {
  margin: 0;
}

.ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.ul li {
  display: inline;
  text-decoration: none;
  margin-left: 10px;
  font-size: 15px;
}

.icon {
  display: flex;
  justify-content: start;
}