.titlePage {
  font-size: 54px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

.menuTopLatest {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #000;
}

.menuTopLatest button {
  width: 135px;
  height: 45px;
  font-size: 17px;
  margin: 0 15px -4px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.topNews {
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.topNews div {
  margin-right: 5px;
}

.gridCards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 20px;
}