.topNews {
    /* border: 1px solid black; */
    width: 100%;
}

.cardInfo {
    display: flex;
    padding: 20px;
    
}

.cardInfo img {
    width: 500px;
    height: 400px;
}

.cardInfoLeft {
    margin-right: 20px;
}
