.topNews {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardInfo {
    display: flex;
    padding: 20px 0px;
    padding-right: 20px;
}

.cardInfo img {
    width: 500px;
    height: 400px;
}

.cardInfoLeft {
    margin-right: 20px;
}
